@charset 'utf-8';
/* ==========================================================================
Author        :  Arif Lutfhansah
Create        :  20 April 2018
Last Update   :  20 April 2018

Contents  :
  1: Body Section
  
========================================================================== */

/*
  Body
-------------------------------------*/
body {
  background-image: url('../images/background.png');
}
section.content {
  padding: 130px 0 0 0;
}
/* --- Head --- */
.head {
  margin-bottom: 70px;
  position: relative;
  color: #96327D;
  text-align: center;
  z-index: 6;
  h2 {
    margin: 0;
    font-size: 3.267em;
  }
  h4 {
    margin-bottom: 18px;
    font-size: 1.533em;
  }
}
/* --- Tagline --- */
.tagline {
  position: absolute;
  width: 100%;
  top: 260px;
  z-index: 99;
  text-align: center;
  h1 {
    font-size: 8.367em;
    margin: 0;
    margin-bottom: 11px;
    font-weight: 700;
  }
  h4 {
    margin: 0;
    font-size: 1.957em;
    margin-bottom: 57px;
    font-weight: 400 !important;
  }
  .date {
    &:before, &:after {
      position: absolute;
      content: "";
      top: 211px;
      left: 0;
      height: 20px;
      width: 100%;
      background-image: url('../images/ornamen_date.png');
      background-repeat: no-repeat;
      background-position: center center;
    }
    &:after {
      background-image: url('../images/ornamen_date_02.png');
      top: inherit;
    }
    h3 {
      margin: 0;
      font-size: 1.633em;
      font-weight: 700;
    }
  }
}
.countdown {
  position: relative;
  top: 170px;
  .countdown__item {
    font-family: 'Great Vibes', cursive;
    display: inline-block;
    padding: 25px 40px;
    margin: 0 4px;
    color: #96327D;
    font-weight: 700;
    border: 1px dotted #96327D;
    border-radius: 50%;
  }
  .countdown__timer {
    font-size: 3.4em;
    line-height: 1;
  }
  .countdown__label {
    font-size: 1.2em;
  }
}
/* --- About --- */
.about .container {
  background-image: url('../images/ornamen_profile.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.profile {
  display: table-cell;
  height: 409px;
  padding: 120px 0;
  vertical-align: middle;
  h3 {
    margin: 0 0 13px 0;
    font-size: 3.1rem;
  }
  h4 {
    margin: 0 0 30px 0;
    font-size: 1.5rem;
    font-weight: 400 !important;
  }
  p {
    color: #96327D;
    font-size: 1.15rem;
  }
}
.about {
  .photo {
    figure {
      margin: 1em 40px;
    }
    img {
      width: 409px;
      height: 409px;
      border-radius: 100%;
      background-color: #fdfafd;
      border: 1px dotted #96327D;
    }
  }
}
.man {
  figure {
    text-align: right;
  }
  img {
    text-align: right;
  }
}
.woman {
  figure {
    text-align: left;
  }
  img {
    text-align: right;
  }
  .profile {
    text-align: right;
  }
}
/* --- Memorable Days --- */
.memorable-days {
  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    height: 100%;
    width: 61px;
    background-image: url('../images/separator.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .item {
    margin-bottom: 95px;
  }
  img {
    max-width: 100%;
    -webkit-mask-image: url('../images/mask_flower.png');
    mask-image: url('../images/mask_flower.png');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 60%;
    mask-size: 60%;
    -webkit-mask-position: center center;
    mask-position: center center;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  }
}